beautifulsoup4==4.5.3
bs4==0.0.1
feedparser==5.2.1
PyYAML==3.12
SQLAlchemy==1.1.4
psycopg2==2.6.2
requests==2.12.4
appdirs==1.4.3
packaging==16.8
pyparsing==2.2.0
PySocks==1.6.7
six==1.10.0
stem==1.5.4
